[submodule "kasmweb"]
	path = kasmweb
	url = https://github.com/kasmtech/noVNC.git
	branch = feature/VNC-151-investigate-tiger-vnc-h-264-encode-decoder2-color-conversion
[submodule "kasmvnc-functional-tests"]
	path = kasmvnc-functional-tests
	url = git@gitlab.com:kasm-technologies/internal/kasmvnc-functional-tests.git
